body {
  /*position: absolute;*/
  /* display: flex; */
  width: 1440px;
  background-color: #edf2ec;
  margin: auto;
  /* flex-direction: column; */
}

.header_item a {
  text-decoration: none;
  color: #010201;
}

a:hover {
  /* background-color: red;*/
  color: #e06733;
}

.header {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  height: 134px;
  /* border: 1px;
  border: solid; */
}

.navigation {
  display: flex;
  width: 85%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  font-family: inika;
  font-size: 16px;
  font-weight: bold;
  /* border: 1px;
  border: solid;*/
}

.header_links {
  display: flex;
  width: 37%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  /* border: 1px;
  border: solid;*/
}
.header_item {
  padding: 5px 5px;
  margin-left: 5px;
}

.logo {
  display: flex;
  align-items: center;
}

.welcome {
  display: flex;
  height: 532px;
  align-items: center;
  justify-content: center;
  /* border: 1px;
  border: solid; */
}

.welcome_section {
  display: flex;
  height: 407px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px;
  border: solid; */
}

.welcome_text {
  width: 45%;
  height: 340px;
  /* border: 1px;
  border: solid; */
}

.welcome_paragraph {
  color: #636060;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
  text-align: left;
}

h1 {
  color: #717171;
  font-family: Inter;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 42px 0;
  line-height: 111%;
}

h2 {
  color: #499a18;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  font-family: Inika;
  margin: 0;
  line-height: 52.12px;
}

.btn_welcome {
  display: flex;
  border-radius: 10px;
  font-family: Inter;
  width: 29%;
  /* height: 44px; */
  padding: 14px 27px 14px 27px;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 16px;
  border: 2px solid #e06733;
  text-decoration: none;
  margin: 38px 0 0 0;
}

.btn_welcome:hover {
  background: #e06733;
  color: white;
  text-decoration: none;
}

.green_text {
  color: #499a18;
}

.orange_text {
  color: #e06733;
}

.about {
  display: flex;
  height: 666px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 7.56%;
  /* border: 1px;
  border: solid; */
}

.about_text {
  width: 49%;
  height: 350px;
  /* border: 1px;
  border: solid; */
}

.about_paragraph {
  color: #636060;
  font-size: 20px;
  font-family: Inter;
  text-align: left;
  line-height: 150%;
  font-style: normal;
  font-weight: 400;
}

.service {
  display: flex;
  height: 1300px;
  padding: 40px 7.56% 0 7.56%;

  flex-direction: column;
  /* border: 1px;
  border: solid; */
}

.services_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  height: 94px;
  grid-gap: 4%;
  padding: 0 0 90px 0;
  /* border: 1px;
  border: solid; */
}

.btn_service {
  display: flex;
  border-radius: 5px;
  width: 16%;
  padding: 12px 40px;
  align-items: center;
  justify-content: center;
  color: #e06733;
  font-size: 20px;
  font-style: normal;
  font-family: Inika;
  font-weight: 400;
  line-height: 26px;
  border: 2px solid #e06733;
  text-decoration: none;
  margin: 29px 0 0 0;
}

.btn_service:hover {
  background: #e06733;
  color: white;
  text-decoration: none;
}

.services_block {
  display: flex;
  width: 100%;
  height: 955px;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  /* border: 1px;
  border: solid; */
}

.services_item {
  display: flex;
  width: 27%;
  height: 450px;
  border-radius: 20px;
  border: 1px solid #e3e1d5;
}

figure {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.services_images {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  filter: contrast(80%) saturate(120%);
}

.services_title {
  font-family: inter;
  font-style: normal;
  line-height: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #e06733;
  margin: 10px 0;
}

.services_text {
  font-family: inter;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #717171;
}

.prices {
  display: flex;
  height: 560px;
  background-color: #ffffff;
  justify-content: center;

  /* align-items: center; */

  /* width: 100%; */
  /* padding: 40px 109px 121px 109px; */
  /* flex-direction: column; */
  /* border: 1px;
  border: solid; */
}

.prices_wrapper {
  display: flex;
  justify-content: space-between;
  /* grid-gap: 54%; */
  width: 84.86%;
  height: 405px;
  margin-top: 40px;
  /* border: 1px;
  border: solid; */
}

.prices_block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 27.21%;
  height: 391.01px;
}

.prices_call_us {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 37%;
  height: 405px;
}

.prices_title {
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}

.prices_right_align {
  text-align: right;
}

.btn_prices {
  display: flex;
  border-radius: 5px;
  width: 21.68%;
  padding: 12px 40px;
  align-items: center;
  justify-content: center;
  color: #e06733;
  font-size: 20px;
  font-style: normal;
  font-family: Inika;
  font-weight: 400;
  line-height: 26px;
  border: 2px solid #e06733;
  text-decoration: none;
  margin: 32px 0;
}

.btn_prices:hover {
  background: #e06733;
  color: white;
  text-decoration: none;
}

.prices_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 214px;
  padding: 34px 0px;
  /* width: 100%; */
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.prices_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 168px;
  background: #edf2ec;
  border-radius: 20px;
  text-align: center;
  padding: 0 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.arrow {
  position: relative;
  width: 16px;
  height: 16px;
  background: #d9d9d9;
  border-radius: 50%;
}
.arrow:after {
  position: absolute;
  top: 6px;
  left: 7px;
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-right: 0.5px solid #717171;
  border-bottom: 0.5px solid #717171;
  transform: rotate(45deg);
}

.prices_details[open] {
  background: #d6e7d2;
  height: 154px;
  border-radius: 20px;
  width: 75.3%;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
}

.prices_details[open] .prices_summary {
  background: #d6e7d2;
  margin: 16px 0px 12px 0px;
  height: 18px;
}

.prices_details[open] .arrow {
  position: relative;
  width: 16px;
  height: 16px;
  background: #aea1a1;
  border-radius: 50%;
  z-index: 999999;
}

.prices_details[open] .arrow:after {
  position: absolute;
  top: 7px;
  left: 7px;
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-left: 0.5px solid #ffffff;
  border-top: 0.5px solid #ffffff;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
}

.details_padding {
  padding: 6px 40px 6px 40px;
  margin: 0px;
}

.details_title {
  margin: 0px;
}

.prices_item hr {
  width: 65.6%;
  height: 0px;
  margin: 0 40px;
  border: 0.5px solid #aea1a1;
}

.details_price {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #e06733;
}

.details_per_hour {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  padding: 0px;
  margin: 0px 40px;
  color: #000000;
}

.btn_details {
  background: #ffffff;
  border-radius: 10px;
  width: 86px;
  height: 25px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0 40px;
  padding: 0px 20px;
  color: #717171;
}

.contacts {
  display: flex;
  justify-content: space-between;
  height: 550px;
  /* border: 1px;
  border: solid; */
  /* padding: 53px 7.57% 0 7.57%; */
}

.contacts_title {
  text-align: center;
  margin: 60px 0 0 3.47%;
}

.contacts_photo {
  padding: 53px 0 0 7.57%;
}
.contacts_cities {
  width: 31.25%;
  margin: 148px 7.57% 0 0;
  /* border: 1px;
  border: solid; */
}

.contacts_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 87.78%;
  background: #d6e7d2;
  border-radius: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 0 7.78% 0 4.44%;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #717171;
}

.contacts_summary:hover {
  background: #c1e698;
  width: 84.44%;
  padding: 0 7.78% 0 7.78%;
  box-shadow: none;
}

.contacts_details[open] .contacts_summary {
  background: #c1e698;
  width: 84.44%;
  padding: 0 7.78% 0 7.78%;
  box-shadow: none;
}

.contacts_arrow {
  position: relative;
  width: 16px;
  height: 16px;
  background: #aea1a1;
  border-radius: 50%;
}
.contacts_arrow:after {
  position: absolute;
  top: 6px;
  left: 7px;
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-right: 0.5px solid #ffffff;
  border-bottom: 0.5px solid #ffffff;
  transform: rotate(45deg);
}

.contacts_details[open] {
  background: #dce9d9;
  height: 284px;
  /* border-radius: 20px; */
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
}

.contacts_details[open] .contacts_arrow {
  background: #8ba07e;
}

.contacts_details[open] .contacts_arrow:after {
  top: 7px;
  border-left: 0.5px solid #ffffff;
  border-top: 0.5px solid #ffffff;
  border-right: none;
  border-bottom: none;
}

.contacts_details a {
  color: #499a18;
  text-decoration: none;
}

.contacts_details hr {
  width: 90.13%;
  height: 0px;
  margin: 0 0 12px 0;

  border: 1px solid #d9d9d9;
}

.contacts_city {
  height: 41px;
}

.contacts_details ul {
  list-style-type: none;
  padding-inline-start: 0;
  padding: 0 0 0 9.11%;
  margin: 27px 0 0 0;
}

.contacts_details li {
  padding: 0px 0 0px 0;
  margin: 0;
  line-height: 30px;
}

.contacts_details li:hover hr {
  border: 1px solid #717171;
}

.contacts_details li:hover a {
  color: #717171;
}

h3 {
  color: #11999e;
}

.avatar {
  border-radius: 50%;
  width: 20%;
  float: right;
  margin-right: 30px;
}

.list {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0px 50px 0px;
}

.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}

.skill-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.stack-img {
  width: 20%;
  float: right;
}

.rs-school-img {
  width: 5%;
}

.contact-me {
  margin-bottom: 50px;
}
